@import "var.css";

.hexagon {
  position: relative;
  width: min-content;
  cursor: pointer;
  justify-content: center;
}

.hexagon:hover svg path {
  stroke: var(--orange-100);
}

.hexagon svg:nth-child(1) {
  height: 0.3rem;
  width: 1rem;
}

.hexagon svg:nth-child(2) {
  height: 5rem;
}

.hexagon svg:nth-child(3) {
  height: 0.3rem;
  width: 1rem;
}

.hexagon--selected svg path {
  fill: var(--orange-5);
  stroke: var(--orange-100);
}

.hexagon--correct svg path {
  fill: var(--green-5);
  stroke: var(--green-100);
}

.hexagon--wrong svg path {
  fill: var(--red-5);
  stroke: var(--red-100);
}

.hexagon__content {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}
