* {
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
#container {
  height: 100%;
  width: 100%;
}

.grid-x-center {
  display: flex;
  align-items: center;
}

.grid-x-start {
  display: flex;
  align-items: flex-start;
}
.grid-x-end {
  display: flex;
  align-items: flex-end;
}

.grid-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-y-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-y-scatter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-container {
  height: 100%;
  display: flex;
}
