/* @import "var.css"; */

.options {
  display: flex;
  flex-wrap: wrap;
  /* height: 30%; */
  height: 20rem;
}

.options--inactive .hexagon--inactive:hover svg path {
  stroke: var(--balck-40);
}

.options span {
  width: 50%;
  margin: 10px 0;
}

.options span {
  flex: 1 1 calc(50%);
}

.options span:nth-child(odd) {
  flex: 0 0 50%;
}

.options--inactive .hexagon--inactive:hover svg path {
  stroke: var(--black-40);
}

/* .options .hexagon  */

@media screen and (max-width: 600px) {
  .options {
    /* height: 30rem; */
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .options span {
    width: 100%;

    flex: auto;
  }

  .options span:nth-child(odd) {
    flex: auto;
  }
}
