/* @import "var.css"; */

.options {
  display: flex;
  flex-wrap: wrap;
  /* height: 30%; */
  /* height: 20rem; */
}

.options--inactive .hexagon--inactive:hover svg path {
  stroke: var(--balck-40);
}

.options span {
  width: 50%;
  margin: 10px 0;
}

.options span {
  flex: 1 1 calc(50%);
}

.options span:nth-child(odd) {
  flex: 0 0 50%;
}

.options--inactive .hexagon--inactive:hover svg path {
  stroke: var(--black-40);
}

/* .options .hexagon  */

@media screen and (max-width: 768px) {
  .options {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 9rem;
  }
  .options span {
    width: 100vw;
    flex: auto;
  }
  .options span:nth-child(odd) {
    flex: auto;
  }
}

@media screen and (max-width: 425px) {
  .options {
    margin-top: 7rem;
  }
  .options span {
    width: 24rem;
  }
}

@media screen and (max-width: 375px) {
  .options {
    margin-top: 7rem;
  }
  .options span {
    width: 24rem;
  }
}

@media screen and (max-width: 320px) {
  .options {
    margin-top: 2.7rem;
  }
  .options span {
    width: 17rem;
    margin-bottom: 0.1rem;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
  .options {
    max-width: 70rem;
  }
  .options span {
    width: 50em;
    margin-bottom: 0.1rem;
  }
}

@media screen and (min-width: 2560px) {
  .options {
    max-width: 90rem;
  }
  .options span {
    width: 45rem;
    margin-bottom: 0.1rem;
  }
}
