.question-card {
  /* height: 60%;
  margin: 10%; */
  position: relative;
  padding: 0 7%;
  height: 100%;
  justify-content: space-around !important;
  background-color: var(--gray-90);
}

.question-card > span {
  top: 3rem;
  right: 3rem;
  position: absolute;
  display: none;
}

.question-card h1 {
  font-weight: 600;
  font-size: 32px;
  max-width: 90%;
}

@media screen and (max-width: 600px) {
  .question-card {
    justify-content: center !important;
  }
  .question-card > span {
    display: block;
  }

  .question-card > h1 {
    margin-bottom: 3.5rem;
    max-width: 100%;
    text-align: center;
  }
}
