#question-card {
  height: 100%;
  /* width: ; */
}

.question-card {
  position: relative;
  padding: 3rem;
  height: 100vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-90);
}

/* menu icon */
.question-card > span {
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  display: none;
}
.question-card span svg {
  height: 2rem;
}
/* ------------ */
.question-card > h1 {
  font-weight: 600;
  font-size: 2rem;
  max-width: 49rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .question-card {
    padding: 0;
    width: 100vw;
  }
  .question-card > h1 {
    margin-bottom: 4.3rem;
    max-width: 40rem;
    font-size: 2.7rem;
    text-align: center;
  }

  /* for menu button */
  .question-card--show {
    display: block;
  }
  .question-card--hide {
    display: none;
  }
  .question-card > span {
    display: block;
  }
  /* ---------------- */
  /* menu icon */
  .question-card > span {
    top: 3rem;
    right: 3rem;
  }
  .question-card span svg {
    height: 3rem;
  }
  /* ------------ */
}

@media screen and (max-width: 425px) {
  .question-card > h1 {
    margin-bottom: 3.5rem;
    max-width: 24rem;
    font-size: 2rem;
  }

  /* menu icon */
  .question-card > span {
    top: 3rem;
    right: 2rem;
  }
  .question-card span svg {
    height: 2rem;
  }
  /* ------------ */
}

@media screen and (max-width: 375px) {
  .question-card {
    padding: 0;
    width: 100vw;
  }
  .question-card > h1 {
    margin-bottom: 3.5rem;
    max-width: 20rem;
    font-size: 1.6rem;
  }

  /* menu icon */
  .question-card > span {
    top: 2rem;
    right: 2.5rem;
  }
  .question-card span svg {
    height: 1.7rem;
  }
  /* ------------ */
}

@media screen and (max-width: 320px) {
  .question-card {
    padding: 0;
    width: 100vw;
  }
  .question-card > h1 {
    margin-bottom: 2rem;
    max-width: 16rem;
    font-size: 1.5rem;
  }

  /* menu icon */
  .question-card > span {
    top: 2rem;
    right: 2.5rem;
  }
  .question-card span svg {
    height: 1.7rem;
  }
  /* ------------ */
}

@media screen and (min-width: 1024px) {
  .question-card {
    padding: 0;
  }
  .question-card > h1 {
    margin-bottom: 14rem;
    max-width: 40rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .question-card > h1 {
    max-width: 54rem;
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 2560px) {
  .question-card > h1 {
    max-width: 90rem;
    font-size: 4.3rem;
  }
}
